<!DOCTYPE html>
<html>
 <title><%= title %></title>
  <head>
        <h1><%= title %></h1>
            <h2>Thanks for your <%= object.type %></h2>
            <pre><%= object.name %>! We Will update you soon about your: <%= object.message %></pre>
 
   </body>
</html>